*{
    scroll-behavior: smooth;
}
.scroll-down{
 height: 50px;
 width: 30px;
 border: 2px solid white;
 left: 50%;
 bottom: 30px;
 border-radius: 50px;
 cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid red;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down{
    0%{
        opacity:0;
    }
    30%{opacity: 1;}
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%;
    }
}

.imgBg{
    position: relative;
    border-radius: 50px;
    /* border: none;
    outline: none; 
    color: #fff; */
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s;
  }
  .imgBg:first-child{
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
  }
  .imgBg:last-child{
    background: linear-gradient(90deg, #decdd2, #f5ce62, #e43603, #03a9f4,);
    background-size: 400%;
  }
  
  .imgBg{
    z-index: 1;
    animation: glow 8s linear infinite;
  }
  